html,
body {
    margin: 0;
    font-family: sans-serif;
}

body {
    background: var(--primary-bg);
    font-family: var(--sans);

    --sans: 'IBM Plex Sans', sans-serif;
    --mono: 'IBM Plex Mono', monospace;

    /* color variables taken from Merlot */
    --primary-bg: #f9fafb;
    --primary-text: #111111;
    --secondary-bg: #f3f4f6;
    --secondary-text: #9b9b9b;
    --hover-bg: #eaebec;
    --active-bg: #dcdfe4;
    --translucent: rgba(249, 250, 251, .8);
    --transparent: rgba(249, 250, 251, 0);

    /* repl text colors */
    --error: #da1111;
}

.dark {
    --primary-bg: #2f3437;
    --primary-text: #ebebeb;
    --secondary-bg: #373c3f;
    --secondary-text: #a4a7a9;
    --hover-bg: #474c50;
    --active-bg: #626569;
    --translucent: rgba(47, 52, 55, .8);
    --transparent: rgba(47, 52, 55, 0);

    --error: #ff554c;
}

a {
    color: var(--primary-text);
    text-decoration: underline;
}

button {
	padding: 0;
    font-size: 1em;
}

button,
button:hover,
button:active {
	color: var(--primary-text);
}

pre,
code,
input,
select,
option,
textarea {
    color: var(--primary-text);
    font-size: 1em;
    font-family: var(--mono);
}

#root,
.app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar {
    width: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background: var(--secondary-bg);
	padding: 8px;
	box-sizing: border-box;
}

.file-tree-list-container {
    height: 0;
    flex-grow: 1;
    overflow-y: auto;
}

ul.file-tree-list {
	padding-left: 0;
	list-style: none;
}

ul.file-tree-list ul.file-tree-list {
	padding-left: 12px;
}

li.file-tree-list-item {
    margin: 1px 0;
}

.file-tree-node-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
	border-radius: 4px;
}

.file-tree-node-row:hover {
	background: var(--hover-bg);
}

.file-tree-node-row:active,
.file-tree-node-row.in-workspace {
	background: var(--active-bg);
}

.file-tree-node-toggle {
	flex-grow: 0;
	flex-shrink: 0;
	height: 1rem;
	width: 1rem;
	font-size: 12px;
	display: inline-block;
	color: var(--secondary-text);
	box-sizing: content-box;
	padding: 2px;
	margin: 2px;
	transform: rotate(-90deg);
	background: 0;
	border: transparent;
	cursor: pointer;
	border-radius: 4px;
	transition: transform .2s;
}

.file-tree-node-toggle:hover {
	background: var(--active-bg);
}

.file-tree-node-toggle.open {
	transform: rotate(0deg);
}

.file-tree-node-name {
	border: 0;
	background: transparent;
	cursor: pointer;
	margin-left: calc(1em + 8px);
	width: 0;
	flex-grow: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
	line-height: 1.4em;
}

.file-tree-node-toggle + .file-tree-node-name {
	margin: 0;
}

.file-panes {
    width: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.file-pane {
    border-right: 2px solid var(--active-bg);
    height: 100%;
    width: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.file-pane:last-child {
    border-right: 0;
}

.file-pane .file-pane-header {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: var(--hover-bg);
    overflow-x: auto;
}

.file-pane .file-pane-header-path {
    color: var(--secondary-text);
}

/*
 * TODO: Make each header like a pill icon, except the active one which is
 * attached to the current page. Active tab should be --primary-bg to seem
 * "attached" to the code preview; others can be hover-bg or something to seem
 * less attached.
 */

.file-pane .file-pane-header-tab {
    padding: 8px 12px;
    background: var(--hover-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.file-pane .file-pane-header-tab.active {
    background: var(--primary-bg);
}

.file-pane .file-pane-header-info {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.file-pane .file-pane-close {
    border: 0;
    background: transparent;
    display: inline-block;
    padding: 4px;
    margin-left: 8px;
    opacity: 0;
    height: 1em;
    width: 1em;
    cursor: pointer;
    border-radius: 4px;
    padding: 2px;
    box-sizing: content-box;
    transition: opacity .2s;
}

.file-pane .file-pane-close:hover {
    background: var(--active-bg);
}

.file-pane .file-pane-header-tab:hover .file-pane-close,
.file-pane .file-pane-close:focus {
    opacity: 1;
}

.file-preview {
    height: 0;
    width: 100%;
    flex-grow: 1;
    margin: 0;
}

.file-preview.file-preview-image {
    padding: 12px;
    box-sizing: border-box;
}

.file-preview .file-preview-image-content {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.file-preview.file-preview-text {
    overflow: auto;
	-webkit-overflow-scrolling: auto;
    display: flex;
    flex-direction: column;
    line-height: 1.3em;
    padding-top: 8px;
    padding-bottom: 5em;
}

.file-line .file-line-no {
    display: inline-block;
    color: var(--secondary-text);
    padding-right: 8px;
    text-align: right;
    width: 3em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

