html,
body {
    margin: 0;
    font-family: sans-serif;
}

/* themes */

body {
    background: var(--primary-bg);
    font-family: var(--sans);

    --sans: 'IBM Plex Sans', sans-serif;
    --mono: 'IBM Plex Mono', monospace;

    /* color variables taken from Merlot */
    --primary-bg: #f9fafb;
    --primary-text: #111111;
    --secondary-bg: #f3f4f6;
    --secondary-text: #9b9b9b;
    --hover-bg: #eaebec;
    --active-bg: #dcdfe4;
    --translucent: rgba(249, 250, 251, .8);
    --transparent: rgba(249, 250, 251, 0);
}

.dark {
    --primary-bg: #2f3437;
    --primary-text: #ebebeb;
    --secondary-bg: #373c3f;
    --secondary-text: #a4a7a9;
    --hover-bg: #474c50;
    --active-bg: #626569;
    --translucent: rgba(47, 52, 55, .8);
    --transparent: rgba(47, 52, 55, 0);
}

/* resets */

a {
    color: var(--primary-text);
    text-decoration: underline;
}

button {
    padding: 0;
    font-size: 1em;
}

button,
button:hover,
button:active {
    color: var(--primary-text);
}

pre,
code {
    font-size: 1em;
    font-family: var(--mono);
}

input,
select,
option,
textarea {
    color: var(--primary-text);
    font-size: 1em;
    font-family: var(--sans);
}

/* highlight.js overrides */

.hljs {
    color: var(--primary-text);
    background: var(--primary-bg);
}

.hljs-comment { 
    font-style: italic;
    color: var(--secondary-text);
}
.hljs-number,
.hljs-literal {
    color: #af57d2;
}
.hljs-title.function_ { color: #3563cd; }
.hljs-operator { color: #e0281a; }
.hljs-separator {
    /* ink-specific token type */
    color: #a6a6a6;
}
.hljs-string { color: #13915e; }

/* loading animation */

.loading {
    width: 100%;
    flex-grow: 1;
    margin: 0;
    height: 3px;
    position: relative;
    background: var(--hover-bg);
    overflow: hidden;
}

@keyframes slider {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.loading::after {
    content: '';
    display: block;
    height: 100%;
    width: 60%;
    padding-right: 40%;
    background-color: var(--primary-text);
    position: absolute;
    top: 0;
    left: 0;
    animation: slider 1s linear infinite;
}

/* application styles */

#root,
.app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.app {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar {
    width: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background: var(--secondary-bg);
    padding: 12px;
    box-sizing: border-box;
}

nav {
    margin-top: 8px;
    margin-bottom: 16px;
}

nav a.home-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.125em;
    transition: opacity .2s;
}

nav a.home-link:hover {
    opacity: .8;
}

.repo-panel .repo-panel-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.repo-panel .repo-header-link {
    width: 0;
    flex-grow: 1;
}

.repo-panel .repo-toggle-input {
    flex-grow: 0;
    flex-shrink: 0;
    border: 0;
    background: transparent;
    color: var(--secondary-text);
    cursor: pointer;
}

.repo-panel .repo-toggle-input:hover {
    text-decoration: underline;
}

.repo-input-panel {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.repo-input-panel input,
.repo-input-panel button {
    border-radius: 4px;
    padding: 6px 8px;
    border: 0;
    box-sizing: border-box;
}

.repo-input-panel input {
    border: 0;
    background: var(--hover-bg);
    width: 0;
    flex-grow: 1;
    margin-right: 6px;
}

.repo-input-panel input:focus {
    outline: 0;
    background: var(--active-bg);
}

.repo-input-panel .repo-input-submit {
    color: var(--primary-bg);
    background: var(--primary-text);
    cursor: pointer;
    flex-grow: 0;
    flex-shrink: 0;
}

.repo-input-panel .repo-input-submit:focus,
.repo-input-panel .repo-input-submit:hover {
    opacity: .7;
}

.repo-info-panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.repo-info-panel.loading {
	width: 72%;
	margin: 2em auto 0 auto;
}

.repo-panel .repo-header-link a,
.repo-info-panel .repo-info-homepage a {
    text-decoration: none;
}

.repo-panel .repo-header-link a:hover,
.repo-info-panel .repo-info-homepage a:hover {
    text-decoration: underline;
}

.repo-info-panel .repo-info-description {
    line-height: 1.5em;
    margin-bottom: 8px;
}

.repo-info-panel .repo-info-homepage,
.repo-info-panel .repo-info-language {
    font-size: .875em;
}

.repo-info-panel .repo-info-homepage {
    margin-bottom: 12px;
}

.repo-info-panel .repo-info-homepage a {
    color: var(--secondary-text);
}

.repo-info-panel .repo-info-language {
    border-radius: 6px;
    color: var(--primary-bg);
    background: var(--secondary-text);
    padding: 2px 7px;
}

.file-tree-list-container {
    height: 0;
    flex-grow: 1;
    overflow-y: auto;
    margin-top: 24px;
}

ul.file-tree-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

ul.file-tree-list ul.file-tree-list {
    padding-left: 12px;
}

li.file-tree-list-item {
    margin: 1px 0;
}

.file-tree-node-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    padding: 2px 0;
}

.file-tree-node-row:hover {
    background: var(--hover-bg);
}

.file-tree-node-row:active,
.file-tree-node-row.in-workspace {
    background: var(--active-bg);
}

.file-tree-node-toggle {
    flex-grow: 0;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    font-size: 12px;
    display: inline-block;
    color: var(--secondary-text);
    box-sizing: content-box;
    padding: 2px;
    margin: 2px;
    transform: rotate(-90deg);
    background: 0;
    border: transparent;
    cursor: pointer;
    border-radius: 4px;
    transition: transform .2s;
}

.file-tree-node-toggle:hover {
    background: var(--active-bg);
}

.file-tree-node-toggle.open {
    transform: rotate(0deg);
}

.file-tree-node-name {
    border: 0;
    background: transparent;
    cursor: pointer;
    margin-left: calc(1em + 8px);
    width: 0;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    line-height: 1.4em;
}

.file-tree-node-toggle + .file-tree-node-name {
    margin: 0;
}

.file-tree-node-loading.loading {
	width: calc(100% - 20px);
    margin: 1em 0 1em auto;
}

.file-panes {
    width: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.file-pane {
    border-right: 2px solid var(--active-bg);
    height: 100%;
    width: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.file-pane:last-child {
    border-right: 0;
}

.file-pane .file-pane-header {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: var(--hover-bg);
    overflow-x: auto;
}

.file-pane .file-pane-header-path {
    color: var(--secondary-text);
}

/*
 * TODO: Make each header like a pill icon, except the active one which is
 * attached to the current page. Active tab should be --primary-bg to seem
 * "attached" to the code preview; others can be hover-bg or something to seem
 * less attached.
 */

.file-pane .file-pane-header-tab {
    padding: 8px 12px;
    background: var(--hover-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.file-pane .file-pane-header-tab.active {
    background: var(--primary-bg);
}

.file-pane .file-pane-header-info {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.file-pane .file-pane-close {
    border: 0;
    background: transparent;
    display: inline-block;
    padding: 4px;
    margin-left: 8px;
    opacity: 0;
    height: 1em;
    width: 1em;
    cursor: pointer;
    border-radius: 4px;
    padding: 2px;
    box-sizing: content-box;
    transition: opacity .2s, background .2s;
}

.file-pane .file-pane-close:hover {
    background: var(--active-bg);
}

.file-pane .file-pane-header-tab:hover .file-pane-close,
.file-pane .file-pane-close:focus {
    opacity: 1;
}

.file-preview {
    height: 0;
    width: 100%;
    flex-grow: 1;
    margin: 0;
    color: var(--primary-text);
    background: var(--primary-bg);
}

.file-preview.file-preview-image {
    padding: 12px;
    box-sizing: border-box;
    background: var(--active-bg);
}

.file-preview .file-preview-image-content {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.file-preview .file-preview-loading {
    width: 80%;
    margin: 0 auto;
    max-width: 500px;
    margin-top: 5em;
}

.file-preview.file-preview-text {
    tab-size: 4;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: auto;
    line-height: 1.25em;
    height: 0;
    flex-grow: 1;
}

.file-preview .file-preview-text-scroller {
    display: flex;
    flex-direction: row;
    margin: 8px 0;
}

.file-preview-text .file-preview-line-nos,
.file-preview-text .file-preview-line-texts {
    margin: 0;
}

.file-preview-text .file-preview-line-nos {
    color: var(--secondary-text);
    padding-right: 12px;
    text-align: right;
    width: 3em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    flex-shrink: 0;
    flex-grow: 0;
}

.file-preview-text .file-preview-line-texts {
    width: 0;
    flex-grow: 1;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

